body{
    background-color: azure;
    text-align: center; 
    margin: 0%;
}
center{
     clear: both;   
}

header{
    background-color: aqua;
   text-align: center;  
}


#menu ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    height: 100%;
    background-color:rgb(223, 219, 219);
    list-style:none;
    font-family: 'Roboto', sans-serif;
  
}

#menu ul li { display: inline; }

#menu ul li a {
    background-color:black;
    color: rgb(250, 242, 242);
    text-decoration: none;
    border-bottom:3px solid black;
    padding: 5px 30px;
    float:left;
}

#menu ul li a:hover {
    background-color: #EDEDED; 
    color: rgb(121, 140, 140);
    border-bottom:3px solid rgb(141, 140, 140);
}
.imagem{
   
   background-position: center;

   }
 
h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: black (18, 70, 212);
    
}
 
input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
 
input:hover, textarea:hover, input:focus, textarea:focus {
    border-block-end-color: aliceblue;
    box-shadow: 5px 0px 9px ;
    background-color: rgba(240, 248, 255, 0.897);
    color: black;
    font-weight: bold;
}
 
.submit input {
    background-color: aliceblue;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}
 
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
form label {
    margin-left: 20px;
    color: rgb(10, 9, 9);
    font-family: 'Roboto', sans-serif;
}
h5{
    margin: 0%;
}

#meu_form {
    font color: black;
    margin-left: 36%;
    font: outline;
    height : 450px;
    width: 505px;
    background-color: #EDEDED;
    font-family: 'Roboto', sans-serif;



